In [1]:
# probability of getting 3 when a die is rolled

In [2]:
ns = 6
na = 1
pa = na/ns
print("probability of getting 3 is: ",pa)

probability of getting 3 is:  0.16666666666666666

In [3]:
# probability of atleast getting one head when a coin is tossed thrice

In [4]:
ns = 8
na = 7
pa = na/ns
print("probability of getting atleast one head is: ",pa)

probability of getting atleast one head is:  0.875

In [6]:
ns=10
na = 7
pa = na/ns
print("probability of not getting blue jellybean is: ",pa)

probability of not getting blue jellybean is:  0.7

In [7]:
# probability that person A will be alive in 20 years is 0.7
# probability that person B will be alive in 20 years is 0.7
# probability that both the persons will be alive in 20 years

In [8]:
P = 0.7*0.5
print("probability that they will be alive after 20 years is:", P)

probability that they will be alive after 20 years is: 0.35

In [9]:
def event_probability(n,s):
    return n/s

In [10]:
# A fair die is tossed twice
# find the probability of getting a 4 or 5 on the first toss
# 1,2,3 in the second toss

In [11]:
pa = event_probability(2,6)
pb = event_probability(3,6)
P = pa*pb
print("probability of getting a 4 or 5 on the first toss and 1,2 or 3 in the second toss is: ",P)

probability of getting a 4 or 5 on the first toss and 1,2 or 3 in the second toss is:  0.16666666666666666

In [12]:
# ns ={W,W,W,W,W,B,B,B,G,G}

In [13]:
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of getting white, black and green in that order is ",(pw*pb*pg))

the probability of getting white, black and green in that order is  0.041666666666666664

In [14]:
cards = 52
hearts = 13
clubs = 13
P = ((13/52)+(13/52))
print("the probability of drawing a heart or a club is: ",P)

the probability of drawing a heart or a club is:  0.5

In [15]:
cards = 52
ace = 4
king = 4
queen = 4
P = ((ace/cards)+(king/cards)+(queen/cards))
print("the probability of drawing an ace, king or a queen is: ",P)

the probability of drawing an ace, king or a queen is:  0.23076923076923078

In [16]:
cards = 52
hearts =13
ace = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts, cards)+event_probability(ace,cards)-event_probability(ace_of_hearts,cards)
print("probability will be: ",heart_or_ace)

probability will be:  0.3076923076923077

In [17]:
# probability of not getting a 5 when a die is rolled

In [18]:
ns = 6
na = 1
pa = na/ns
print("probability of not getting 5 is: ",1-pa)

probability of not getting 5 is:  0.8333333333333334

In [19]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv('student-mat.csv')
df.head(3)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6   6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5   6
2     GP   F   15       U     LE3       T  ...     3       3       10  7  8  10

[3 rows x 33 columns]

In [21]:
len(df)

395

In [22]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

In [23]:
df['high_absenses'] = np.where(df['absences'] >= 10,1,0)

In [24]:
df['count'] = 1

In [25]:
df = df[['grade_A', 'high_absenses', 'count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [26]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0
)
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5